* {
    border:        none;
    border-radius: 0;
    font-family:   "UbuntuNerdFont";
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
}

window#waybar.solo {
    color: rgba(53, 185, 171, 1);
}

#workspaces {
    margin-right: 5px;
}

#workspaces button {
    padding: 0 5px;
    color: rgba(255, 0, 0, 1);
}

#workspaces button.visible {
    color: rgba(255, 255, 255, 1);
}

#battery, 
#pulseaudio, 
#idle_inhibitor 
{    
margin: 0px 6px 0px 10px;
/*    min-width: 30px;*/
}

#clock {
    margin: 0px 6px 0px 10px;
}

#battery.warning {
   color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}
